/* Google Font Link */

.sidebar{
  left: 0;
  width: 230px;
  height: 100%;
  background: #ffffff;
  z-index: 99;
  transition: all 0.5s ease;
  position: fixed;
  box-shadow: 1px 1px 50px rgb(120, 156, 153);
}
.sidebar li{
  padding-right: 10px;
}
.sidebar a:hover{
  background-color: rgb(72, 97, 109);
}
.profile{
    position: fixed;
    height: 58px;
    width: 229px;
    left: 0;
    bottom: 0px;

    background: #f1eded;
    border-radius: 5px;;
  }
  .text-user{
    font-size: 15px;
  }
  .text-rol{
    font-size: 12px;
  }