<div class="sidebar">
    <div class="d-flex flex-column flex-shrink-0 p-3 ">
        <h1 class="bx text-center">Panel de control</h1>

        <hr class="my-1">
        <ul class="nav nav-pills flex-column  text-center px-1 ">
            <li class="nav-item mb-3">
                <a type="bottom" class="nav-link link-dark">
                  <i class="fa fa-thin fa-house">  Inicio</i>
    
                </a>
            </li>
            <li class="nav-item mb-3">
              <a type="bottom" class="nav-link link-dark">
                <i class="fa fa-solid fa-user">   Perfil</i>
              </a>
          </li>

          <li class="nav-item mb-3">
            <a type="bottom" class="nav-link link-dark">
              <i class="fa fa-solid fa-book"> Examenes</i>
            </a>
        </li>   
        
        <li class="nav-item mb-3">
          <a type="bottom" class="nav-link link-dark">
            <i class="fa fa-thin fa-file-check"> Calificaciones</i>
          </a>
      </li>

      
    <li class="nav-item mb-3">
      <a type="bottom" class="nav-link link-dark">
        <i class="fa fa-thin fa-file-check"> Cursos</i>
      </a>
  </li>


    <li class="nav-item mb-3">
      <a type="bottom" class="nav-link link-dark">
        <i class="fa fa-solid fa-calendar"> Eventos </i>

      </a>
  </li>


        </ul>


        <div class="profile">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch py-1">
            <div class="col ">
                <img src="../../../../assets/profile.jpg" class="px-1"width="60" height="50" style="border-radius: 9px;">
            </div>

            <div class="col">
              <div class="text">
                <strong><p class="text-user">Ashley</p></strong>
                <p class="text-rol ">Estudiante</p>
              </div>
          </div>

          <div class="col ">
            <div  style="font-size:35px">
              <i  class='bx bx-log-out py-1' ></i>
            </div>
        </div>
          </div>
        </div>
      </div>
</div>