<div class="container-fluid shadow-lg ">
    <div class="container   px-4 py-5" id="custom-cards">
        <div class="titulos">
            <h1 class="bx text-dark mb-5">Bienvenido al portal de estudiantes</h1>
        </div>
        <strong><h2 class="bx px-4">Cursos disponibles (Mis cursos)</h2></strong>
        <div class="row row-cols-1 row-cols-lg-2 align-items-stretch py-3">
            <div class="col">
                <div class="report-card">
                  <div class="card">
                      <div class="card-body flex flex-col">
                          <!-- top -->
                          <div class="flex flex-row justify-between items-center">
                              <div class="h1 bx bx-bookmark"  style="color: rgb(87, 134, 130);"></div>
                              <span class="rounded-full text-white badge bg-teal-400 text-xs ">
                                  40%
                                  <i class="fal fa-chevron-up ml-1 text-dark"></i>
                              </span>
                          </div>
                          <!-- end top -->
                          <!-- bottom -->
                          <div class="mt-8">
                              <h1 class="h2 num-4"></h1>
                              <p class="fs-4">Curso de Python</p>
                          </div>
                          <!-- end bottom -->
                      </div>
                  </div>
                  <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
              </div>
              </div>

              <div class="col">
                <div class="report-card">
                  <div class="card">
                      <div class="card-body flex flex-col">
                          <!-- top -->
                          <div class="flex flex-row justify-between items-center">
                            <div class="h1  bx bx-bookmark"  style="color: rgb(87, 134, 130);"></div>
                              <span class="rounded-full text-white badge bg-teal-400 text-xs ">
                                10%
                                  <i class="fal fa-chevron-up ml-1 text-dark"></i>
                              </span>
                          </div>
                          <!-- end top -->
                          <!-- bottom -->
                          <div class="mt-8">
                              <h1 class="h2 num-4"></h1>
                              <p class="fs-4">Curso de JavaScript</p>
                          </div>
                          <!-- end bottom -->
                      </div>
                  </div>
                  <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
              </div>
              </div>


        </div>





        <div class="row row-cols-1 row-cols-lg-2 align-items-stretch  ">
            <div class="col">
                <div class="report-card">
                  <div class="card">
                      <div class="card-body flex flex-col">
                          <!-- top -->
                          <div class="flex flex-row justify-between items-center">
                            <div class="h1 bx bx-bookmark"  style="color: rgb(87, 134, 130);"></div>
                              <span class="rounded-full text-white badge bg-teal-400 text-xs ">
                                70%
                                  <i class="fal fa-chevron-up ml-1 text-dark"></i>
                              </span>
                          </div>
                          <!-- end top -->
                          <!-- bottom -->
                          <div class="mt-8">
                              <h1 class="h2 num-4"></h1>
                              <p class="fs-4">Curso de C++</p>
                          </div>
                          <!-- end bottom -->
                      </div>
                  </div>
                  <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
              </div>
              </div>

              <div class="col">
                <div class="report-card">
                  <div class="card">
                      <div class="card-body flex flex-col">
                          <!-- top -->
                          <div class="flex flex-row justify-between items-center">
                            <div class="h1  bx bx-bookmark"  style="color: rgb(87, 134, 130);"></div>
                              <span class="rounded-full text-white badge bg-teal-400 text-xs ">
                           18%
                                  <i class="fal fa-chevron-up ml-1 text-dark"></i>
                              </span>
                          </div>
                          <!-- end top -->
                          <!-- bottom -->
                          <div class="mt-8">
                              <h1 class="h2 num-4"></h1>
                              <p class="fs-4">Curso de PHP</p>
                          </div>
                          <!-- end bottom -->
                      </div>
                  </div>
                  <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
              </div>
              </div>
        </div>

        


      </div>

</div>

