.card-body span{
    float: right;
    background-color: rgb(67, 82, 88);
  }

  .report-card:hover .card {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --border-opacity: 1;
    border-color: #fff;
    border-color: rgba(255, 255, 255, var(--border-opacity));  transform: scale(1.01);
  }
  
  .report-card:hover .footer {
    padding: 0;
    border-width: 0
  }
  
  .report-card .footer, .report-card .card {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms
  }
  